/*!
    Brand colors:
    Archer Red: #981e32
    Archer Gold: #c93
    Archer Dark Gold: #bb8c2d
    Archer Black: #282828
    Archer Plum: #5a245a
    Archer Light Plum: #5a2e98
    Archer Explore: #2baebe
*/

/* Fonts Inclusion */

@font-face {
    font-family: 'plantin';
    src: url('/fonts/plantin/light.eot');
    src: url('/fonts/plantin/light.eot?#iefix') format('embedded-opentype'), url('/fonts/plantin/light.woff') format('woff'), url('/fonts/plantin/light.svg#PlantinMTStd-Light') format('svg'), url('/fonts/plantin/light.ttf') format('truetype');
}

@font-face {
    font-family: 'plantin-italic';
    src: url('/fonts/plantin/light.italic.eot');
    src: url('/fonts/plantin/light.italic.eot?#iefix') format('embedded-opentype'), url('/fonts/plantin/light.italic.woff') format('woff'), url('/fonts/plantin/light.italic.svg#PlantinMTStd-LightItalic') format('svg'), url('/fonts/plantin/light.italic.ttf') format('truetype');
}

@font-face {
    font-family: 'font-awesome';
    src: url('/fonts/fontawesome-webfont.eot?v=4.4.0');
    src: url('/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* End Fonts Inclusion */


/* General */

a {
    color: #5a2e98;
    border-bottom: 1px dotted #c93;
}

a:hover,
a:active,
a:focus {
    color: #5a245a;
    border-color: #c93;
    border-bottom-style: solid;
    text-decoration: none;
}

a:focus, 
button:focus, 
.bnt:focus,
input:focus, 
:focus
{
    /* outline: 1px dotted #b85c6b!important; */
    outline: 1px dotted #5a2e98!important;
}

a.text-gold:hover,
a.text-gold:focus,
a.text-gold:active {
    color: #ffffff;
    border-color: #ffffff;
}

h5 a.text-gold:hover,
h5 a.text-gold:focus,
h5 a.text-gold:active {
    color: #bb8c2d;
    border-bottom: 1px dashed #bb8c2d;
}

.offscreen
{
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
 }

a:hover .offscreen, 
a:focus .offscreen,
.offscreen:hover,
.offscreen:focus
{
    position:relative;
    clip:auto;
    width:auto;
    height:auto;
    overflow:auto;
}

footer a {
    color: #fff;
    border-bottom: none;
    text-transform: uppercase;
}

footer a.footer-logo {
    border-bottom: none!important;
}

footer a:hover, footer a:active, footer a:focus {
    color: #bb8c2d;
    border-bottom: 1px solid #bb8c2d;
}


.overlay {
    background-color: rgba(204, 153, 51, .7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
}

.overlay-dark {
    background-color: rgba(40, 40, 40, 0.8)!important;
}

.overlay-plum {
    background-color: #5a245a;
    background-color: #282828;
}

.overlay-red {
    background-color: #981e32;
}

.dark-opacity {
    background-color: rgba(0, 0, 0, 0.8)!important;
}

.darker-opacity {
    background-color: rgba(0, 0, 0, 0.7)!important;
}

.display-block {
    display: block;
}

.display-inline{
    display:inline-block;
}

.full-width {
    width: 100%;
}

.border {
    border: 1px solid #a1a1a1;
}

.no-border {
    border: none;
}

@media (max-width: 768px) {
    .border.no-border-xs {
        border: none;
    }
}

.inline-block {
    display: inline-block;
}

.list-slashed li+li:before {
    content: " | ";
    margin-right: .5rem;
}

.list-slashed li+li:before {
    margin-left: .5rem;
}

span~.list-slashed {
    margin-left: .5rem;
}

.list-slashed li a.active {
    font-weight: 500;
}

.slash,
.slash-links a {
    display: inline-block;
    margin-left: .25rem;
}

.slash-links a:not(:last-child):after,
.slash-links li:not(:last-child) a:after,
.slash-spans span:not(:last-child):after,
.slash:not(.last-child):after {
    margin-left: .25rem;
    content: " / ";
}

@media (max-width: 768px) {
    .slash,
    .slash-links a {
        display: table;
        margin: 0 auto;
    }

    .slash-links a:after {
        content: none!important;
    }
}

.text-uppercase .slash,
.text-uppercase .slash-links a,
.text-uppercase .slash-links a:not(:last-child):after,
.text-uppercase .slash-spans span:not(:last-child):after,
.text-uppercase .slash:not(.last-child):after {
    margin-left: .75rem;
}

.multi-cols {
    list-style-position: inside;
    padding-left: 20px;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    -webkit-column-gap: 2rem;
}

.multi-cols-2 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

.multi-cols-3,
.room-content ul.multi-cols {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}

@media (max-width: 992px) {
    .room-content ul.multi-cols {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

.separator {
    border-bottom: 1px solid #000;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
}

.text-white .separator {
    border-bottom: 1px solid #fff;
}

.separator.separator-half-width {
    width: 50%;
}

.separator.separator-small {
    width: 100px;
}

.separator.separator-centered {
    margin-left: auto;
    margin-right: auto;
}

.services-amenities ul {
    margin-bottom: 0;
}

.services-amenities ul:last-child {
    margin-bottom: 40px;
}

.services-amenities ul li {
    line-height: 1.3rem;
    margin: 2px 0;
    list-style-position: outside;
}

.bg-white {
    background: #fff;
}

.strong {
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default!important;
}

span.copyright,
span.copyright a {
    display: inline-block;
    font-size: 0.7rem;
    vertical-align: top;
    letter-spacing: 2px;
}

/* End General */


/* Header & Footer */

header,
footer {
    background: #282828;
    color: #eee;
}

header {
    /* height: 640px;
    overflow: hidden; */
    height: auto;
}

@media (max-width: 768px) {
    header {
        height: auto!important;
    }
    .navbar-header.dark-opacity {
        background-color: rgba(0, 0, 0, 1)!important;
    }
}

header a {
    color: #ffffff;
    border-bottom: 0;
    font-weight: 300;
}

header nav a {
    text-transform: uppercase;
}

header a:hover, header a:active, header a:focus {
    color: #bb8c2d;
}

header nav {
    width: 100%;
}

header nav.nav-up {
    top: -80px;
}

header nav .navbar-header {
    height: 4rem;
    width: 100%;
    border-bottom: 1px solid #a3a2a1;
    z-index: 4;
    float: none;
}

header nav .navbar-header.navbar-subheader {
    height: auto;
    top: 4rem;
    z-index: 4;
}

header nav .navbar-header.navbar-subheader ul {
    margin: 0 20px 0 20px;
}

nav .logo {
    display: inline-block;
    margin: 0 1rem 0 0!important;
    height: 4rem!important;
}

nav .logo img {
    height: 4rem;
}

header nav h6,
header nav ul li,
header nav ul li a {
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}

header .navmenu {
    height: 4rem;
    list-style: none;
    padding-left: 0;
}

header .submenu {
    list-style: none;
    padding-left: 0;
}

header .navmenu li {
    margin: 0 1rem 0 0;
    height: 4rem;
    display: inline-block;
}

@media (max-width: 768px) {
    header .navmenu li {
        margin: 0;
    }
}

header .navmenu li a {
    margin: 1rem 0;
    display: block;
    float: none;
    text-align: left;
    padding: 0;
    width: auto;
    min-width: 1rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.9rem;
}

header .navmenu li a.fa, header .navmenu li a.fas {
    font-size: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

/*
.fa-bars:focus:before,
.fa-bars:active::before
{
    content: "\f00d";
}
*/

header .navmenu li a.btn-book {
    padding: 0 1rem;
}

header .navmenu li a:hover {
    transition: color .25s;
}

header .submenu {
    display: none;
    padding: 20px 0;
    position: absolute;
    height: auto;
    top: 3.9rem;
}

header .submenu.submenu-hotels { 
    margin-left: 40px; 
}

header .submenu li {
    height: 2rem;
    display: block;
}

header .submenu li a {
    color: #ddd;
    height: auto;
    margin: 0;
}

header .submenu li a:hover {
    border-left: 2px solid #c93;
    color: #fff;
    text-indent: 20px;    
    transition: color .25s, text-indent .25s
}

header .submenu-container {
    display: none;
    position: absolute;
    padding: 20px;
    height: 340px;
    width: 100%;    
    left: 0;
    top: 3.9rem;
    border-bottom: 1px solid #a3a2a1;
}

header ul.navmenu li:hover .submenu, 
header ul.navmenu .submenu:hover,
header ul.navmenu li:hover .submenu-container, 
header ul.navmenu .submenu-container:hover,
header ul.navmenu li a:focus + .submenu-container + .submenu, 
header ul.navmenu li a:focus + .submenu-container,
header ul.navmenu .submenu:focus
{
    display: block;
    transition: display 20s ease-out;
}


@media (max-width: 768px) {
    header .submenu,header ul.navmenu .submenu-container {
        display: none!important;
    }
}

button.navbar-toggle
{
    margin: 1rem 2rem 1rem 1rem;
    display: block;
    padding: 0px;
    width: auto;
    height: 2rem;
    line-height: 2rem;
    min-width: 2.5rem;
}

@media (max-width: 768px) {
    button.navbar-toggle[data-target='#bookForm'] {
        margin: -2px 0 0 0;
        height: 4rem;
        line-height: 4rem;
        border: 0;
        padding: 0 1rem;
    }
}

button.navbar-toggle:hover,
button.navbar-toggle:active,
button.navbar-toggle:focus {
    color: #bb8c2d;
}

button.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}

button.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

button.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}

button.navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

button.navbar-toggle .middle-bar {
    opacity: 0;
}

button.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 0.5rem;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
    width: 100%;
}

nav .social-media {
    margin-top: 0.5rem;
    display: inline-block;
    list-style: none;
    padding-left: 0;
}

nav .social-media li {
    float: left;
    margin-right: 0.5rem;
    list-style: none;
}

nav ul.social-media li a {
    font-size: 1rem;
    color: #f1f1f1!important;
    background: none!important;
}

nav ul.social-media li a:hover, 
nav ul.social-media li a:focus,
nav ul.social-media li a:active {
    border-bottom: none;
}


nav ul.social-media li a:hover img {
    opacity: 0.2;
}

nav .social-media .fa-stack-1x {
    color: #282828;
}

nav .social-media a:hover .fa-circle,
nav .social-media a:hover .fa,
nav .social-media a:focus .fa-circle,
nav .social-media a:focus .fa,
nav .social-media a:active .fa-circle,
nav .social-media a:active .fa,
nav .social-media a:hover .fab,
nav .social-media a:focus .fab,
nav .social-media a:active .fab
{
    color: #c93;
}

nav .copyright {
    display: block;
    line-height: 3rem;
}

.top-menu {
    position: relative;
    height: auto!important;
    background: #222!important;
    z-index: 3;
    padding-top: 4rem;
}

.top-menu .row {
    border-bottom: 1px solid #fff;
}

.top-menu .row-boxed div[class*="col"]+div[class*="col"] {
    border-left: 1px solid #ddd;
}

.top-menu .row-boxed div[class*="col"] {
    padding: 0;
}

.top-menu li.list-title {
    background: #981e32;
}

.top-menu li.list-title:after,
.top-menu li.list-title:before {
    content: '';
}

.top-menu .hotel-links li,
.top-menu .hotel-links li a {
    line-height: 2.5rem;
    font-weight: 100;
    font-size: 1.2rem;
    padding: 0;
    white-space: nowrap;
}

.top-menu .location-links a {
    font-size: 2rem;
    line-height: 4rem;
    width: 100%;
    height: 100%;
    display: block;
}

.top-menu .location-links a:hover {
    background: #bb8c2d;
    color: #282828;
}

.top-menu .location-links a:hover i.fa, .top-menu .location-links a:hover i.fab {
    color: #282828!important;
}

.top-menu .language-links li,
.top-menu .language-links li a {
    line-height: 2.5rem;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 0;
    white-space: nowrap;
    text-align: left;
}

.language-links span {
    background-image: url("/images/flags.png");
    background-repeat: no-repeat;
    width: 12px;
    height: 8px;
    margin: 0 5px 5px 0;
    display: inline-block;
    position: relative;
    top: 1px;
}

.language-links li>a>span {
    padding-right: 4px;
}

.language-links span.he_IL {
    background-position: 0px -90px;
}

.language-links span.en_US {
    background-position: -65px -198px;
}

.language-links span.ar_SA {
    background-position: -91px -162px;
}

.language-links span.tr_TR {
    background-position: -91px -189px;
}

.language-links span.cs_CZ {
    background-position: -39px -45px;
}

.language-links span.da_DK {
    background-position: -78px -45px;
}

.language-links span.de_DE {
    background-position: -52px -45px;
}

.language-links span.el_GR {
    background-position: -78px -72px;
}

.language-links span.es_ES {
    background-position: -65px -54px;
}

.language-links span.es_MX {
    background-position: -13px -135px;
}

.language-links span.et_EE {
    background-position: -13px -54px;
}

.language-links span.fi_FI {
    background-position: -91px -54px;
}

.language-links span.fr_FR {
    background-position: -26px -162px;
}

.language-links span.fr_CA {
    background-position: -65px -27px;
}

.language-links span.hu_HU {
    background-position: -91px -81px;
}

.language-links span.hr_HR {
    background-position: -65px -81px;
}

.language-links span.in_ID {
    background-position: -104px -81px;
}

.language-links span.is_IS {
    background-position: -65px -90px;
}

.language-links span.it_IT {
    background-position: -78px -90px;
}

.language-links span.ja_JP {
    background-position: -117px -90px;
}

.language-links span.ko_KR {
    background-position: -104px -207px;
}

.language-links span.ms_MY {
    background-position: -26px -135px;
}

.language-links span.lv_LV {
    background-position: -13px -9px;
}

.language-links span.lt_LT {
    background-position: -104px -108px;
}

.language-links span.nl_NL {
    background-position: -117px -108px;
}

.language-links span.no_NO {
    background-position: -13px -144px;
}

.language-links span.pl_PL {
    background-position: -39px -153px;
}

.language-links span.pt_BR {
    background-position: -104px -18px;
}

.language-links span.pt_PT {
    background-position: -104px -153px;
}

.language-links span.ru_RU {
    background-position: -65px -162px;
}

.language-links span.sv_SE {
    background-position: -13px -171px;
}

.language-links span.sk_SK {
    background-position: -78px -171px;
}

.language-links span.th_TH {
    background-position: -0px -189px;
}

.language-links span.uk_UA {
    background-position: -26px -198px;
}

.language-links span.vi_VN {
    background-position: -39px -207px;
}

.language-links span.zh_TW {
    background-position: -0px -126px;
}

.language-links span.zh_CN {
    background-position: -65px -36px;
}

.top-menu .row+.row {
    border-bottom: 1px solid #ddd;
}

.top-menu .row h6 {
    line-height: 5rem;
    margin: 0;
}

.top-menu form:after {
    clear: both;
}

.top-menu .toggle-close {
    padding: 10px;
}

body.book-modify .toggle-close {
    display: none;
}

.announcement {
    font-weight: 500;
}

.announcement.fixed {
    position: fixed!important;
    top: 80px;
}

.announcement a {
    line-height: 3rem;
    height: 3rem;
    letter-spacing: 2px;
    border-bottom: 1px solid;
}

.brand-visual {
    width: 100%;
}

p.tags strong {
    display: inline-block;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 5px 10px;
    color: #282828;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 10px 10px 0;
}

footer ul,
footer li {
    list-style-type: none;
    padding: 0;
}

body.contact .footer-spacer,
body.book-modify .footer-spacer,
body.join .footer-spacer,
body.brand .footer-spacer,
body.policies .footer-spacer,
body.rfp .footer-spacer,
body.pool-cabanas .footer-spacer,
body.market .footer-spacer,
body.planner-kit .footer-spacer  {
    display: none;
}

footer .footer-middle {
    padding: 50px 0;
    border-top: 1px solid #212121;
    border-bottom: 1px solid #212121;
}

footer nav h6::after {
    content: ":";
}

footer h6,
footer nav ul li,
footer nav ul li a {
    height: 2rem;
    line-height: 2rem;
    text-align: left;
}

footer h6 {
    color: #aaa;
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 65px;
    margin: 0;
    z-index: 10000;
    border-bottom: 0;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    right: 25px;
    /* visibility: hidden;
    -webkit-backface-visibility: hidden; */
}

.back-to-top > span {
    text-align: center;
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-decoration: none;
    -o-border-radius: 52px;
    -moz-border-radius: 52px;
    -webkit-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: all .2s ease 0s;
    -moz-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    background-color: #000;
    margin: 0;
}

.back-to-top > span i {
    font-size: 22px;
    color: #fff;
    line-height: 52px;
    margin-right: 0;
}

    .back-to-top:hover > span i {
        color: #c93;
    }


@media (min-width: 992px) {
    footer a,
    footer p,
    footer div,
    footer p {
        font-size: 0.8rem;
        letter-spacing: 1px;
    }
    .hours {
        text-align: left;
    }
    .footer-right-column {
        float: right;
        margin-right: 1rem;
    }
}

@media (max-width: 992px) {
    header .h1,
    header h1 {
        font-size: 2.5rem;
    }
    header .h2,
    header h2 {
        font-size: 2rem;
    }
    header .h3,
    header h3 {
        font-size: 1.6rem;
    }
    header .h4 {
        font-size: 1.3rem;
    }
    .top-menu .row {
        border-bottom: 1px solid #ddd;
    }
    .top-menu .row div[class*="col-md-6"]:first-child {
        border-right: 0px;
    }
    .top-menu .hotel-links {
        margin: 0;
    }
    .top-menu .hotel-links + .hotel-links {
        border-top: 1px solid #ddd;
    }
    .top-menu .hotel-links li:not(:last-child) {
        border-bottom: 1px solid #ddd;
    }
    .top-menu .hotel-links li,
    .top-menu .hotel-links li a {
        display: block;
        height: 100%;
        width: 100%;
        font-size: 1.4rem;
        height: 4rem;
        line-height: 4rem;
    }
    .top-menu .hotel-links li a:hover,
    .top-menu .hotel-links li a:focus,
    .top-menu .hotel-links li a:active {
        background-color: #bb8c2d;
        color: #000;
    }
    footer,
    footer p,
    footer h6 {
        text-align: center;
    }
    footer .social-media {
        margin: 0 auto;
    }
    footer .footer-middle {
        padding: 0;
    }
    footer nav ul li,
    footer nav h6 {
        border-top: 1px solid #212121;
    }
    footer nav h6::after {
        content: "";
    }
    footer nav h6,
    footer nav ul li,
    footer nav ul li a {
        height: 4rem;
        line-height: 4rem;
        text-align: center;
    }
    footer nav ul li a {
        display: block;
        width: 100%;
    }
    footer nav ul li a:hover,
    footer nav ul li a:focus,
    footer nav ul li a:active {
        background: #bb8c2d;
        color: #000;
    }
    .hours {
        text-align: center;
    }
    .footer-right-column {
        float: none;
        width: 100%;
    }
}

@media (max-width: 768px) {
    header .list-slashed li+li:before {
        content: '';
        margin: 0;
    }
    .top-menu {
        padding-top: 4rem;
    }
}


/* End Header & Footer */


/* Sliders & Gallery */

.container-fluid .gallery,
.container .gallery {
    color: #fff;
    background: #282828;
}

.gallery.neighborhood-gallery,
.gallery.neighborhood-gallery {
    background: none;
}

header .gallery-cell,
header .gallery-cell > img {
    height: 640px;
    min-width: 1640px;
}

header .gallery-cell.gallery-cell-large,
header .gallery-cell.gallery-cell-large > img {
    height: 840px;
    opacity: 1;
}

header .gallery-cell.gallery-cell-large > video {
    display: inline-block;
    width: 1920px;
    overflow: hidden;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    header .gallery-cell,
    header .gallery-cell>img {
        height: 320px;
        min-width:auto;
    }

    header .gallery-cell.gallery-cell-large,
    header .gallery-cell.gallery-cell-large > video {
        height: 420px;
    }
}

header .gallery-cell .btn {
    min-width: 16rem;
}

.gallery-cell-layers .testimonial-rating {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.gallery-cell-layers .testimonial-rating li {
    display: inline;
}

.gallery-cell-layers .testimonial-rating-item+.gallery-cell-layers .testimonial-rating-item {
    margin-left: 5px;
}

.gallery-cell-layers .testimonial-rating-item img {
    width: 25px;
    height: 25px;
    opacity: 1;
}

.gallery-cell-layers .testimonial-author {
    font-weight: 300;
    font-size: 1rem;
}

button.flickity-prev-next-button[disabled]
{
    display: none;
}

/* VM Tours */

.vm-container {
    position: relative; 
    height: 0%; 
    width: 100%; 
    padding-bottom: 51%;
}

.vm-iframe {
    position: absolute; 
    height: 100%; 
    width: 100%; 
    left: 0; 
    top: 0
}

.gallery.page-gallery {
    height: 32rem;
}

.gallery.neighborhood-gallery {
    height: 20rem;
}

.gallery-cell {
    height: 100%;
    opacity: 0.1;
}

    .room-slider .gallery-cell {
        opacity: 0;
    }

header .gallery-cell {
    visibility: hidden;
}

header .gallery-cell.is-selected {
    visibility: visible;
}

.gallery-cell.alternative, 
.gallery-cell.is-selected  {
    opacity: 1;
}


.gallery img {
    opacity: 0.8;
}

.gallery.room-slider img,
.gallery .grid-gallery img,
.gallery.neighborhood-gallery img,
.gallery-cell.alternative img
{
    opacity: 1;
}

.gallery.page-gallery img {
    height: 32rem;
}

header .gallery-cell img {
    opacity: 0.7;
}

.wanderlust {
    position: absolute;
    top: 6rem;
    left: 0;
    height: auto;
    width: 100%; 
    margin: 0 auto;
}

.vertical-runner-left {
    position: absolute; 
    left: 120px; 
    margin-top: 150px; 
    width: 15px; 
    height: 30rem; 
    z-index:100; 
    background: linear-gradient(to bottom, rgba(228,52,0,0) 0%, rgba(228,52,0,0.8) 100%);
}

.vertical-runner-right {
    position: absolute; 
    right: 120px; 
    margin-top: -5rem; 
    background: linear-gradient(to top, rgba(228,52,0,0) 0%, rgba(228,52,0,0.8) 100%);
    width: 15px; 
    height: 20rem; 
    z-index:100;  
}

.gallery-cell > .gallery-cell-layers {
    position: absolute;
    top: 60%;
    padding: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    height: auto;
    visibility: hidden;
    width: 100%;
    text-shadow: 2px 2px 6px #282828, 0 0 1px #000;
}

.gallery-cell.gallery-cell-large > .gallery-cell-layers {
    text-align: left;
}

.gallery-cell .gallery-cell-layers.gallery-cell-layers-explore {
    text-align: center;
    margin-top: 6rem;
}

header .gallery-cell>.gallery-cell-layers {
    top: 60%;
}

@media (max-width: 992px) {
    header .gallery-cell>.gallery-cell-layers {
        top: 50%;
    }
    .gallery-cell.gallery-cell-large > .gallery-cell-layers {
        text-align: center;
    }
}

.gallery-cell-layers p sig {
    display: block;
    height: 120px;
    transform: translate(40px, -40px);
    background-position: top left;
    background-repeat: no-repeat;
}

@media (max-width: 1200px) {
    .gallery-cell-layers p sig {
        transform: translate(-40px, -40px);
        background-position: top center;
    }
}

.gallery-cell-layers p sig span {
    display: none;
}

body.austin .gallery-cell-layers p sig  {
    background-image: url('/images/signatures/austin.png')
}

body.burlington .gallery-cell-layers p sig  {
    background-image: url('/images/signatures/burlington.png');
}

body.florham-park .gallery-cell-layers p sig  {
    background-image: url('/images/signatures/florham-park.png')
}

body.napa .gallery-cell-layers p sig  {
    background-image: url('/images/signatures/napa.png')
}

body.new-york .gallery-cell-layers p sig  {
    background-image: url('/images/signatures/new-york.png')
}

body.redmond .gallery-cell-layers p sig  {
    background-image: url('/images/signatures/redmond.png')
}

.page-gallery .gallery-cell>.gallery-cell-layers {
    visibility: visible;
}

.page-gallery .gallery-cell-layers h2 a,
.page-gallery .gallery-cell-layers h3 a {
    color: #fff;
}

.page-gallery .gallery-cell-layers h2 a:hover,
.page-gallery .gallery-cell-layers h3 a:hover {
    color: #bb8c2d;
}

.gallery-cell.alternative .gallery-cell-layers h2,
.gallery-cell.alternative .gallery-cell-layers h3 {
    color: #000!important;
}

.gallery-cell.is-selected >.gallery-cell-layers {
    visibility: visible;
}

.btn-slider
{
    border-color: transparent;
    color: #282828;
    background-color: #ffffff;
}

    .btn-slider.light-opacity
    {
        background-color: rgba(255,255,255,0.8);
    }

.btn-slider:hover, btn-slider:focus
{
    border-color: transparent;
    color: #fff;
    background-color: #282828;
    transition: background-color 0.8s ease;
    -webkit-transition: background-color 0.8s ease;
}

.crisis-header .btn-slider:hover, .crisis-header btn-slider:focus
{
    background-color: #981e32;
}

.btn-slider+.btn-slider {
    margin-left: 20px;
}

header .gallery-cell-layers >.btn-slider {
    margin-top: 60px;
    text-shadow: none!important;
}

@media (max-width: 768px) {
    header .gallery-cell-layers .btn-slider {
        margin-top: 20px;
        min-width: initial;
    }
}

header .gallery-cell-layers img {
    opacity: 1;
}

.flickity-prev-next-button {
    width: 5rem;
    height: 5rem;
    background: transparent;
    font-weight: 100;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);
}

.flickity-prev-next-button:hover,
.flickity-prev-next-button:active,
.flickity-prev-next-button:focus {
    background: transparent;
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}

.flickity-prev-next-button:focus 
{
    box-shadow: 0 0 0 5px #5a2e98;
}

.flickity-prev-next-button .arrow,
.flickity-prev-next-button.no-svg {
    fill: white;
}

.flickity-prev-next-button:disabled {
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: auto;
}

@media (max-width: 768px) {
    .flickity-prev-next-button {
        top: initial;
        bottom: -2.5rem;
    }
}

.scroll-down {
    position: absolute;
    width: 100%;
    z-index: 2;
    letter-spacing: 2px;
    margin-top: -5rem;
}

.scroll-down a,
.scroll-down a:hover {
    font-family: "plantin-italic";
    font-size: 0.8rem;
    text-transform: none;
    text-decoration: underline;
    color: #ffffff;
}

.scroll-links a.active {
    color: #000000;
    font-weight: bold;
}

.slider-ctrl-btn{
    position: absolute;
    right: 20px;
    z-index: 2;
    margin-top: -2em;
    font-size: 35px;
    font-weight: normal;
    line-height: 1;
}
.slider-ctrl-btn .fa{
    color:#fff;
}
.slider-ctrl-btn ul{
    list-style: none;
    color:#fff;
}

.slider-ctrl-btn ul li{
    display: inline-block;
}


/* Lightcase Gallery */

body #lightcase-case {
    font-family: inherit!important;
    font-weight: 300;
    top: 45%;
}

@media (max-width: 768px) {
    body #lightcase-case {
        top: 30%;
    }
}

#lightcase-caption a {
    color: #bb8c2d;
}

#lightcase-caption a:hover {
    text-decoration: underline;
}


/* Lighbox Gallery */

.grid-gallery a {
    display: block;
    border-bottom: none;
}

    .photo-kit .grid-gallery a {
        background-color: #eee;
    }

.grid-gallery a div {
    background: #282828;
}

.grid-gallery a:hover img {
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);
}

body .lg-backdrop.in {
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
}

.fixed-size.lg-outer .lg-inner {
    background-color: #ffffff;
    white-space: normal;
}

.fixed-size.lg-outer .lg-image {
    vertical-align: top!important;
}

.fixed-size.lg-outer .lg-img-wrap {
    padding: 40px 40px 0 40px;
}

.fixed-size .lg-actions .lg-icon {
    font-family: 'font-awesome'!important;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    background-color: transparent!important;
}

.fixed-size .lg-icon:hover {
    color: #bb8c2d!important;
}

.fixed-size .lg-actions .lg-prev {
    left: 0;
    top: 40%;
}

.fixed-size .lg-actions .lg-prev:before {
    content: "\f053";
}

.fixed-size .lg-actions .lg-prev:after {
    content: "";
}

.fixed-size .lg-actions .lg-next {
    right: 0;
    top: 40%;
}

.fixed-size .lg-actions .lg-next:before {
    content: "\f054";
}

.fixed-size .lg-actions .lg-next:after {
    content: "";
}

.fixed-size .lg-item {
    color: #282828;
}

.fixed-size.lg-outer .lg-toolbar {
    background-color: transparent;
    height: 0;
}

.fixed-size.lg-outer .lg-toolbar .lg-icon.lg-close {
    color: #282828;
}

.fixed-size.lg-outer .lg-thumb-outer {
    background-color: #fff!important;
    box-sizing: border-box;
}

.fixed-size.lg-outer .lg-thumb-item {
    background-color: #282828!important;
    border: none!important;
}

.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:focus,
.lg-outer .lg-thumb-item:active,
.lg-outer .lg-thumb-item:hover {
    border: none!important;
    border-radius: 0!important;
}

.lg-outer .lg-thumb-item.active img,
.lg-outer .lg-thumb-item:focus img,
.lg-outer .lg-thumb-item:active img,
.lg-outer .lg-thumb-item:hover img {
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);
}

.fixed-size .lg-sub-html {
    color: #fff;
    position: relative!important;
    background-color: #111;
    display: inline-block;
    top: 590px;
    opacity: 0.7;
    font-weight: 300;
    width: auto;
    text-align: left;
}

.fixed-size .lg-sub-html p {
    font-size: .6rem;
}

.fixed-size .lg-inner:hover .lg-sub-html {
    opacity: 1;
}

.fixed-size .lg-text-wrap {
    width: 440px;
    padding: 40px 40px 0 0;
    text-align: left;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

@media (max-width: 992px) {
    .fixed-size .lg-img-wrap {
        display: none!important;
    }
    .fixed-size .lg-text-wrap {
        width: auto!important;
        padding: 20px!important;
    }
}

.gallery-polaroids {
    position: absolute; 
    left: 0; 
    top: 100px;
    height: 800px;
    z-index: 2;
    /*overflow-x: hidden;*/
}

.img-polaroid {
    display: table;
    width: 17.5rem; 
    height: 20rem; 
    border-width: 10px 10px 10px 10px; 
    /*border-width: 20px 20px 100px 20px; */
    border-style: solid; 
    border-color: #fff;
    position: absolute;
    left: 0; top: 100;
    box-shadow: 1px 1px 10px 1px #444;
    opacity: 0;
    animation: 1s ease-out 0s 1 alternate forwards slideInFromLeft;
    z-index: 3;
    -webkit-backface-visibility: hidden;
    box-sizing: content-box;
} 

.img-polaroid img {
    width: 17.5rem; 
    height: 20rem;   
}

.img-polaroid figcaption {
    height: 30px;
    padding: 10px 0;
    background-color: #fff;
    font-size: 0.8rem;
    text-align: right;
    box-sizing: content-box;
}

.img-polaroid:hover {
    z-index: 5;
} 

.img-polaroid:nth-child(1)
{
    transform: translate(20px, 30px) rotate(-10deg);
    animation-delay: 1s;
}

.img-polaroid:nth-child(2)
{
    transform: translate(-20px, 150px) rotate(-20deg);
    animation-delay: 2s;
}

.img-polaroid:nth-child(3)
{
    transform: translate(30px, 350px) rotate(10deg);
    animation-delay: 3s;
}

.img-polaroid:nth-child(4)
{
    transform: translate(250px, 150px) rotate(10deg);
    animation-delay: 4s;
}

.img-polaroid:nth-child(5)
{
    transform: translate(300px, 300px) rotate(15deg);
    animation-delay: 5s;
}

.img-wanderlust {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

@keyframes slideInFromLeft {
    0% 
    {
        transform: translate(0,0) rotate(0);
    }
    1%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 1;
    }
  }



/* End Sliders & Gallery */

/* Intro Box */

.intro-box.alternative {
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.intro-box-container,
.intro-section-container {
    min-height: 45rem;
    height: auto;
}

.intro-box.alternative .intro-box-container,
.intro-section-container {
    background-color: rgba(28, 28, 28, 0.8);
}

.intro-box.alternative a {
    color: #fff;
}

/* Quick Facts */

.quick-facts
{
    background-color: rgba(28, 28, 28, 1)
}

.quick-facts div {
    padding: 20px;
    text-align: center;
    text-transform: none;
    color: #fff;
}

.quick-facts table {
    text-align: left;
}

/* End Quick Facts */ 

.feature-box {
    text-align: center;
    background: #bb8c2d;
    height: auto;
    cursor: pointer;
    height: 40rem;
}

.feature-box * {
    z-index: 2;
}

.feature-box:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.feature-box.feature-box-austin:after {
    background-image: url('/images/features/austin.jpg');
}

.feature-box.feature-box-new-york:after {
    background-image: url('/images/features/new-york.jpg');
}

.feature-box.feature-box-napa:after {
    background-image: url('/images/features/napa.jpg');
}

.feature-box.feature-box-florham-park:after {
    background-image: url('/images/features/florham-park.jpg');
}

.feature-box.feature-box-redmond:after {
    background-image: url('/images/features/redmond.jpg');
}

.feature-box.feature-box-burlington:after {
    background-image: url('/images/features/burlington.jpg');
}

.new-york .feature-box:nth-child(1):after {
    background-image: url('/images/new-york/features/foyer-bar.jpg');
}

.new-york .feature-box:nth-child(2):after {
    background-image: url('/images/new-york/features/charlie-palmer-steak.jpg');
}

.new-york .feature-box:nth-child(3):after {
    background-image: url('/images/new-york/features/spyglass.jpg');
}

.feature-box.feature-box-second-bar:after {
    background-image: url('/images/austin/features/second-bar-kitchen.jpg');
}

.feature-box.feature-box-austin-terrace:after {
    background-image: url('/images/austin/features/terrace.jpg');
}

.feature-box.feature-box-austin-meetings-events:after {
    background-image: url('/images/austin/features/meetings-events.jpg');
}

.feature-box.feature-box-austin-meetings:after {
    background-image: url('/images/austin/features/meetings.jpg');
}

.feature-box.feature-box-austin-social:after {
    background-image: url('/images/austin/features/social.jpg');
}

.feature-box.feature-box-austin-weddings:after {
    background-image: url('/images/austin/features/weddings.jpg');
}

.napa .feature-box:nth-child(1):after {
    background-image: url('/images/napa/features/charlie-palmer-steak.jpg');
}

.napa .feature-box:nth-child(2):after {
    background-image: url('/images/napa/features/rooftop.jpg');
}

.napa .feature-box:nth-child(3):after {
    background-image: url('/images/napa/features/grand-salon.jpg');
}

.feature-box:hover:after {
    opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity=10);
}

.feature-box img {
    width: 100%;
    height: auto;
}

.feature-box div.title,
.feature-box div.description {
    position: absolute;
    font-weight: 300;
    text-shadow: 2px 2px 6px #282828;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.feature-box div.title {
    top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    line-height: 3em;
}

.feature-box div.title h2.h3 {
    font-size: 1.2rem;
}

.feature-box div.description {
    width: 60%;
    left: 0;
    right: 0;
    top: 200px;
}

.feature-box div.description ul,
.feature-box div.description li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.feature-box .btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15%;
    width: 16rem;
    max-width: 80%;
    margin: 0 auto;
}

.feature-box:hover .btn {
    color: #bb8c2d;
    background: #ffffff;
}

.feature-box:hover img {
    opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity=10);
}

@media (max-width: 768px) {
    .feature-box {
        height: 30rem;
        margin-bottom: 1rem;
    }
}

.cuisine-box {
    background-repeat: no-repeat;
    background-size: 1920px 640px;
    min-height: 640px;
    background-position: top center;
}

.austin .cuisine-box {
    background-image: url('/images/headers/austin/culinary.jpg');
    background-position: top left;
}

.napa .cuisine-box {
    background-image: url('/images/headers/napa/culinary.jpg');
}

.new-york .cuisine-box {
    background-image: url('/images/headers/napa/culinary.jpg');
}

.burlington .cuisine-box {
    background-image: url('/images/headers/burlington/culinary.jpg');
}

.florham-park .cuisine-box {
    background-image: url('/images/headers/florham-park/culinary.jpg');
}

.redmond .cuisine-box {
    background-image: url('/images/headers/burlington/culinary.jpg');
}

.cuisine-box-text {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px;
}

@media (min-width: 1920px) {
    .cuisine-box {
        background-size: cover;
    }
}

@media (max-width: 768px) {
    .cuisine-box {
        background-image: none!important;
        height: auto;
        min-height: 0;
    }
}

.grid-box {
    background-color: #000;
    color: #fff;
    position: relative;
    background-size: cover;
}

.grid-box .title {
    background-color: #222;
    width: 100%;
    padding: 1rem;
    overflow: hidden;
}

.grid-box .title h6 {  
    display: block;
    font-size: 1rem;
    line-height: 1.4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}

.grid-box .title h6 strong {
    font-weight: 500; 
    display: block;
}

.grid-box .description {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 0;
    margin: 0 auto;
    text-align: center;
    text-shadow: 2px 2px 6px #282828, 0 0 1px #000;
    background: transparent;
    color: #fff;
}

    .grid-box a:hover .description:not(.description-sticky),  
    .grid-box a:focus .description:not(.description-sticky) {
        top: 5%;   
    }

.grid-box .description {
    padding: 20px;
}

.grid-box a {
    position: relative;
    display: block;
    text-decoration: none;
    border-bottom: 0 solid!important;
    color: #fff;
}

.grid-box a img {
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
}

.grid-box a:hover {
    color: #fff;
}

.grid-box a:hover img,
.grid-box a:focus img {
    opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity=10);
}

.grid-box ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    .meetings-events .grid-box ul
    {
        text-transform: uppercase;
    }

@media (max-width: 1200px) {
    .grid-box a:hover .description,  
    .grid-box a:focus .description {
        top: 20%;   
    }
}



@media (max-width: 768px) {
    .grid-box .offscreen {
        position:relative;
        clip:auto;
        width:auto;
        height:auto;
        overflow:auto;
    }
    .grid-box a img {
        opacity: 0.4;
        -moz-opacity: 0.4;
        filter: alpha(opacity=40);
    }

    .grid-box a .description {
        top: 20%;   
    }

    .grid-box a .description.meetings-events {
        top: 0%;   
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.room-content {
    padding: 1.5rem;
}

#room8 span.room-type {
    display: none;
}

.room-content li {
    margin-bottom: 0.3rem;
}

body.austin #roomArchersDen div.guest-bath {
    display: none!important;
}

body.new-york #navSuites {
    display: none;
}

/* .booking-page ul,
.booking-page li {
    list-style-type: none;
}*/

.booking-page ul {
    text-align: left; 
    width: auto; 
    margin: 20px auto; 
    display: inline-block;
}

.accolades a {
    border: none;
}

.accolades a img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.accolades a:hover img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

/* Grid */

.grid {
    height: 75%;
    /* inherit height from body */
    margin: 0 auto;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item--height2 {
    height: 200px;
}

.fb-post {
    display: block;
}


/* End Grid */


/* Google Maps */

#map-canvas {
    min-height: 30em;
}

#map-canvas a.text-white {
    border: none;
}

#map-canvas a.text-white:hover {
    color: #fff;
    border-color: #fff;
}

@media (max-width: 768px) {
    #map-canvas {
        min-height: 24rem;
    }
}

.google-map {
    position: relative;
}

.google-map nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #282828;
}

.fa, 
.fab,
.fal {
    color: #aaa;
    margin-right: 0.5rem;
}

#main .fa,
#main .fab {
    color: #c93;
}

#main .btn-gold .fa,
#main .btn-gold .fab {
    color: #fff;
}

    #main .btn-gold:hover .fa,
    #main .btn-gold:hover .fab {
        color: #c93;
    }

.map-navigation {
    background: #282828;
    padding: 0.5rem 0;
}

.map-navigation a {
    color: #fff;
    line-height: 40px;
    height: 40px;
    display: block;
    margin: 0 30px;
    border-bottom: 0;
}

.map-navigation a:hover,
.map-navigation a:focus,
.map-navigation a:active,
.map-navigation a.active {
    border-bottom: 4px solid #bb8c2d;
    font-weight: inherit;
    color: #fff;
}

.mobile-map-navigation {
    background: #333;
    color: #fff;
}

.mobile-map-navigation .panel {
    border: 0!important;
    padding: 0!important;
    margin: 0!important;
    background-color: transparent!important;
}

.mobile-map-navigation .panel>div,
.mobile-map-navigation h6 {
    border-bottom: 1px solid #444;
    margin: 0;
}

.mobile-map-navigation .panel>div {
    padding: 10px;
}

.mobile-map-navigation h6 a {
    text-align: center;
    color: #fff;
    background: #282828;
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px;
}

@media (max-width: 992px) {
    .map-navigation {
        padding: 0;
    }
    .map-navigation ul,
    .map-navigation ul li {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .map-navigation ul li {
        display: block!important;
        border-bottom: 1px solid #ccc;
    }
    .map-navigation a {
        margin: 0;
    }
    .map-navigation a:hover,
    .map-navigation a:focus,
    .map-navigation a:active,
    .map-navigation a.active {
        border-bottom: none;
        background-color: #bb8c2d;
    }
}

.address-info-box {
    text-align: center;
    background: #282828;
    color: #ffffff;
    padding: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.google-info-box {
    text-align: center;
    background: #282828;
    color: #ffffff;
    padding: 40px 50px 30px 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: auto!important;
}

.google-info-box:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: -40px;
    border: solid;
    border-top-width: 20px;
    border-bottom-width: 20px;
    border-left-width: 15px;
    border-right-width: 15px;
    border-color: transparent transparent #282828 #282828;
}

.google-info-box.google-info-box-red {
    background: #ce5a34;
}

.google-info-box.google-info-box-red:before {
    border-color: transparent transparent #ce5a34 #ce5a34;
}

.google-info-box.google-info-box-gold {
    background: #d2a827;
}

.google-info-box.google-info-box-gold:before {
    border-color: transparent transparent #d2a827 #d2a827;
}

.google-info-box p,
.google-info-box h6 {
    font-family: "proxima-nova";
    font-size: .8rem;
    line-height: 1.5em;
}

#transportationLayer {
    position: absolute;
    display: none;
    padding: 20px;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8)!important;
    color: #fff;
}


/* NY Subway */

.subway-route {
    background-color: #ddd;
    display: inline-block;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    margin-left: 8px;
}

.subway-route.subway-red {
    background-color: #ee352e;
}

.subway-route.subway-purple {
    background-color: #b933ad;
}

.subway-route.subway-blue {
    background-color: #2850ad;
}

.subway-route.subway-orange {
    background-color: #f66319;
}

.subway-route.subway-yellow {
    background-color: #fccc0a;
    color: #000;
}

/* Favorite Finds */

.ff-map-subcategories>li.ff-map-subcategories-item {
    display: none;
}

.ff-map-subcategories-item.hidden-cnt:before {
    display: none;
}

.favorite-find {
    display: block;
    color: #fff;
    position: relative;
    background: #bb8c2d;
    cursor: pointer;
    text-shadow: 2px 1px #000000;
    text-transform: uppercase;
    text-align: center;
}

.favorite-find>div {
    position: absolute;
    top: 50%;
    height: auto;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.favorite-find:hover img {
    opacity: 0.5;
}

.favorite-find img {
    width: 100%;
    height: 100%;
}

.favorite-find a:hover div h2 {
    color: #fff!important;
}

.favorite-finds-list-img img {
    width: 100%;
}

.ff-map-main-filters li a,
#main .ff-map-main-filters.list-slashed li a,
#main .ff-map-subcategories.list-slashed li a {
    color: #000;
    font-size: 1.2rem;
    border-bottom: none;
}

.ff-map-main-filters li a.active,
#main .ff-map-main-filters.list-slashed li a.active,
#main .ff-map-subcategories.list-slashed li a.active {
    color: #282828;
}


/* RFP Forms */

.rfp-form h2, .rfp-form h3 {
    color: #fff;
    margin: 0;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 100!important;
    border-bottom: 1px solid #fff;
}

.rfp-form h3 {
    margin: 10px 0;
    line-height: 28px;
}
.invalid input:required:invalid,
.invalid select:required:invalid {
    border-color: #DD615F;
}

.invalid input:required:valid,
.invalid select:required:valid {
    border-color: #A1C0D8;
}

.neighborhood-content {
    padding: 1.5rem;
}

.image-info-content {
    list-style: none;
    padding-left: 0;
}

.image-info-content li {
    margin-bottom: 0;
    line-height: 0.8em;
}

.image-info-content li small {
    font-size: 11px;
}

.image-info-content li small span {
    margin-left: 5px;
    /*font-weight: normal;*/
    font-size: 12px;
    color: #bb8c2d;
}

.image-info-content li small i {
    margin-left: 5px;
    margin-right: 5px;
}

.image-info-content li small a {
    display: inline;
}

@media print {
    header,
    footer,
    .google-map {
        display: none;
    }
    .feature-box .description {
        display: block!important;
    }
}

.hf-ui-icons span.ui-icon {
    text-indent: 0;
    overflow: visible;
    font-size: 12px;
    left: 25%;
}

div[data-type='marker'] {
    border: 1px solid #981e32
}